:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-primary-brp-blue: #3a6ba6ff;
  --dl-space-space-threeunits: 48px;
  --dl-color-primary-brpbluelight: #9cb3d4ff;
  --dl-color-primary-brpblueaccent: #779bbfff;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.whiteButton {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.whiteButton:hover {
  color: #ffffff;
  transform: scale(1.02);
  background-color: #3a6ba6;
}
.blueCard {
  flex: 1;
  color: var(--dl-color-gray-white);
  height: 450px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #3a6ba6;
}
.blueCard:hover {
  transform: scale(1.02);
}
.H1-Desktop {
  font-size: 42px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.H3-Mobile {
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.H4-Desktop {
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.H4-Mobile {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.H2-Mobile {
  font-size: 28px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.H6-Desktop {
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.TextSM {
  font-size: 1rem;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 1.25;
  text-decoration: none;
}
.H5-Mobile {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.H5-Desktop {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.Content {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.H3-Desktop {
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.H1-Mobile {
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.H6-Mobile {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.H2-Desktop {
  font-size: 36px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.Body-Mobile {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@media(max-width: 767px) {
  .blueCard {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .whiteButton {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
